#commentSection {
    background-color: #f0f0f0;  /* Light gray background */
    padding: 20px;
    margin-bottom: 30px;  /* Adds space below the comment section */
    border-radius: 10px;
}

#commentsDisplay {
    background-color: #ffffff;  /* White background */
    padding: 20px;
    border: 1px solid #ccc;  /* Adds a subtle border */
    border-radius: 10px;
}

#commentInput, #nickname {
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;
    border: 2px solid #a2a2a2;
    padding: 8px;
    width: calc(100% - 20px);  /* Full-width minus padding */
}

#submitBtn {
    background-color: pink;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Pacifico', cursive;
}

.comment-div {
    background-color: #f9f9f9;  /* Light grey background */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* Soft shadow for depth */
}


.comment-text {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight: bold;
    color: rgb(169, 227, 240);
}

.display-name {
    font-style: italic;
    color:  rgb(238, 200, 168);
}

.date-text {
    color: silver;
}

.comment-div {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Horizontal, vertical offset, blur radius, and color */
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
}

